.landing {
  font-family: "Chango", cursive;
  text-align: center;
}

.landing-logo {
  height: auto;
  max-width: 200px;
  pointer-events: none;
  width: 100%;
}

.landing-header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}
